@font-face {
  font-family: "Clear Sans";
  src: url("fonts/ClearSans-Light-webfont.eot");
  src: url("fonts/ClearSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
       url("fonts/ClearSans-Light-webfont.woff") format("woff"),
       url("fonts/ClearSans-Light-webfont.ttf") format("truetype"),
       url("fonts/ClearSans-Light-webfont.svg#clear_sans_lightregular") format("svg");
  font-weight: normal;
  font-style: normal;
}


/*-- RESET ------*/
		html, body, div, span, applet, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code,
		del, dfn, em, font, img, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var,
		b, u, i, center, dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend, table,
		caption, tbody, tfoot, thead, tr, th, td
		                  {margin: 0;padding: 0;border: 0;outline: 0;
		                  font-size: 100%;vertical-align: baseline;
		                  background: transparent;}
		body              {line-height: 1;}
		ol, ul            {list-style: none;}
		blockquote, q     {quotes: none;}
		blockquote:before, blockquote:after,
		q:before, q:after {content: "";	content: none;}
		:focus            {outline: 0;}
		ins               {text-decoration: none;}
		del               {text-decoration: line-through;}
		table             {border-collapse: collapse;border-spacing: 0;}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

.row {
  margin: 0 -0.75em;
}

.row [class*="column-"] {
  margin: 0;
  display: inline-block;
  padding-left: 0.75em;
  vertical-align: top;
}

.column-10  { width: 10%; }
.column-20  { width: 20%; }
.column-25  { width: 25%; }
.column-30  { width: 30%; }
.column-33  { width: 33%; }
.column-40  { width: 40%; }
.column-50  { width: 50%; }
.column-60  { width: 60%; }
.column-67  { width: 67%; }
.column-70  { width: 70%; }
.column-75  { width: 75%; }
.column-80  { width: 80%; }
.column-100 { width: 100%; }
.last { text-align: right; }
/* End Responsive Grids */

@media screen and (max-width: 640px) {
  .windowGroup > .column-33 {
    width: 97%;
    margin: 0.75em 0 0 0;
  }
}

html, body, section {
  height:auto;
}

body {
  background: #eaeaea;
  font-family: "Clear Sans";
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
/* -webkit-font-smoothing: subpixel-antialiased; */
}

h1 {
  text-align: center;
  color: #777;
  font-size: 1.5rem;
  line-height: 1.9rem;
}

section {
  background: #fff;
  width: 100%;
  padding: 1rem;
  -webkit-box-shadow: rgba(0,0,0,.15) 0 15px 50px;
  box-shadow: rgba(0,0,0,.15) 0 15px 50px;
}

section:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.btn {
  padding: 0.3125rem;
  background: #eaeaea;
  color: #777;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  font-family: "Clear Sans";
  font-size: .75em;
  text-shadow: rgba(255,255,255,0.5) 0 1px 2px;
  text-decoration: none;
  outline: none;
  text-align: center;
}

.btn:hover:not(.btn-active) {
  background: #f0f0f0;
  color: #444;
}

.btn-active {
  background: #D3ACAC;
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn-active:hover {
  background: #E9CACA;
  color: #444;
}

#htmlToggle:after {
  content: " \2630";
  position: relative;
  top: 0;
  color: #777;
  opacity: 0.5;
}
#cssToggle:after {
  content: " \2630";
  position: relative;
  top: 0;
  color: #777;
  opacity: 0.5;
}
#jsToggle:after {
  content: " \2630";
  position: relative;
  top: 0;
  color: #777;
  opacity: 0.5;
}
#consoleToggle:after {
  content: " \2630";
  position: relative;
  top: 0;
  color: #777;
  opacity: 0.5;
}
#liveEdit:after {
  content: " \270D";
  position: relative;
  top: 0;
  color: #777;
  opacity: 1;
}
#previewToggle:after {
  content: " \25F3";
  position: relative;
  top: -1px;
  color: #777;
  opacity: 1;
}
#clear:after {
  content: " \27C1";
  position: relative;
  top: 0;
  color: #777;
  opacity: 1;
}
#run:after {
  content: " \25BA";
  position: relative;
  top: 1px;
  color: #777;
  opacity: 0.5;
}
#save:after {
  content: " \2605";
  position: relative;
  top: 0;
  color: #777;
  opacity: 0.5;
}
#load:after {
  content: " \2606";
  position: relative;
  top: 0;
  color: #777;
  opacity: 0.5;
}
#download:after {
  content: " \25BC";
  position: relative;
  top: 1px;
  color: #777;
  opacity: 0.5;
}

.window {
  margin-top: 0.5rem;
  width: 100%;
  height: 18.75rem;
  border: 1px solid #cdcdcd;
  -webkit-box-shadow: inset rgba(0,0,0,.05) 0 3px 10px;
  box-shadow: inset rgba(0,0,0,.05) 0 3px 10px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
}

.window:hover {
  border-color: #d3acac;
}

pre {
  width: 100%;
  height: 100%;
}

.windowLabel {
  border: solid 1px #F1F1F1;
  background: #fff;
  display: inline-block;
  height: 1.5625rem;
  padding: 0 6px;
  line-height: 1.375rem;
  position: absolute;
  top: 2px;
  right: 2px;
  text-align: center;
  font-size: .75em;
  color: #777;
  border-radius: 3px;
  z-index: 30;
  -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in;
  opacity: 0.8;
}

#html:hover + #htmlLabel {
  opacity: 0;
  z-index: -1;
}

#css:hover + #cssLabel {
  opacity: 0;
  z-index: -1;
}

#js:hover + #jsLabel {
  opacity: 0;
  z-index: -1;
}

#console:hover + #consoleLabel {
  opacity: 0;
  z-index: -1;
}

#iframe:hover + #iframeLabel {
  opacity: 0;
  z-index: -1;
}

#iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.preview {
  width: 100%;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  margin: 0.75em 0 0 0;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  -webkit-box-shadow: inset rgba(0,0,0,.05) 0 3px 10px;
  box-shadow: inset rgba(0,0,0,.05) 0 3px 10px;
  height: 37.5rem;
  top: 100%;
/*  -webkit-transition-property: top;
    -moz-transition-property: top;
      transition-property: top;
  -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
      transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;*/
}

html.modal-open .preview{
  border: 1px solid #c7c7c7;
  border-radius: 3px;
  z-index: 1000;
  position: fixed;
  width: 98%;
  height: 97%;
  top: 1%;
  left: 1%;
  opacity: 1;
  background: white;
  overflow: hidden;
}

html.modal-open, html.modal-open body, html.modal-open section {
    overflow: hidden;
    height: 100%;
}

html.modal-open #iframeLabel {
  display: none;
}

#iframeClose {
  display: none;
  background: #333;
  color: #dadada;
  border: 1px solid #dadada;
  border-radius: 1.5625rem;
  cursor: pointer;
  position: fixed;
  width: 1.5625rem;
  height: 1.5625rem;
  line-height: 1.25rem;
  top: 0;
  right: 2px;
  opacity: 0;
  text-align: center;
}

html.modal-open #iframeClose {
  display: inline-block;
  opacity: 0.8;
}

/*#iframeClose.modal-open:hover {
  background: #333;
  color: #dadada;
  border: 1px solid #dadada;
  border-radius: 25px;
  width: 25px;
  height: 25px;
  line-height: 20px;
  -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
      transition: background 0.2s ease-in-out;
  opacity: 1;
}*/

.console {
  width: 100%;
  margin: 0.75em 0 0 0;
  height: 100px;
  border: 1px solid #cdcdcd;
  -webkit-box-shadow: inset rgba(0,0,0,.05) 0 3px 10px;
  box-shadow: inset rgba(0,0,0,.05) 0 3px 10px;
  border-radius: 3px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
/*  display: none;*/
}

/* jqconsole */
#console {
/*  background: #000;*/
}

.jqconsole {
  padding: 10px;
  padding-bottom: 10px;
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  font-size: 12px;
}
.jqconsole-cursor {
  color: #999;
  border-bottom: 1px solid #999;
}
.jqconsole-blurred .jqconsole-cursor {
  border: none;
}
.jqconsole-header {
  color: #666;
  word-wrap: break-word;
}
.jqconsole-prompt {
  color: #0d0;
}
.jqconsole-old-prompt {
  color: #0b0;
  font-weight: normal;
}
.jqconsole-input {
  color: #dd0;
}
.jqconsole-old-input {
  color: #bb0;
  font-weight: normal;
}
.brace {
  color: #00f;
}
.paran {
  color: #FF00FF;
}
.bracket {
  color: #ff6400;
}
.jqconsole-composition {
  background-color: red;
}

/* jqconsole ANSI*/
.jqconsole-ansi-bold {
  font-weight: bold!important;
}

.jqconsole-ansi-lighter {
  font-weight: lighter!important;
}

.jqconsole-ansi-italic {
  font-style: italic!important;
}

.jqconsole-ansi-underline {
  text-decoration: underline!important;
}

@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@-moz-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@-ms-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@-o-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

.jqconsole-ansi-blink {
  -webkit-animation-name: blinker;
  -moz-animation-name: blinker;
  -ms-animation-name: blinker;
  -o-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -ms-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -o-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -moz-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
}

.jqconsole-ansi-blink-rapid {
  -webkit-animation-name: blinker;
  -moz-animation-name: blinker;
  -ms-animation-name: blinker;
  -o-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -ms-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -o-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -moz-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
}


.jqconsole-ansi-hidden {
  visibility:hidden!important;
}

.jqconsole-ansi-line-through {
  text-decoration: line-through;
}

.jqconsole-ansi-fonts-1 {

}
.jqconsole-ansi-fonts-2 {

}
.jqconsole-ansi-fonts-3 {

}
.jqconsole-ansi-fonts-4 {

}
.jqconsole-ansi-fonts-5 {

}
.jqconsole-ansi-fonts-6 {

}
.jqconsole-ansi-fonts-7 {

}
.jqconsole-ansi-fonts-8 {

}
.jqconsole-ansi-fonts-9 {

}

.jqconsole-ansi-fraktur {

}

.jqconsole-ansi-color-black {
  color: black!important;
}
.jqconsole-ansi-color-red {
  color: red!important;
}
.jqconsole-ansi-color-green {
  color: green!important;
}
.jqconsole-ansi-color-yellow {
  color: yellow!important;
}
.jqconsole-ansi-color-blue {
  color: blue!important;
}
.jqconsole-ansi-color-magenta {
  color: magenta!important;
}
.jqconsole-ansi-color-cyan {
  color: cyan!important;
}
.jqconsole-ansi-color-white {
  color: white!important;
}

.jqconsole-ansi-background-color-black {
  background-color: black!important;
}
.jqconsole-ansi-background-color-red {
  background-color: red!important;
}
.jqconsole-ansi-background-color-green {
  background-color: green!important;
}
.jqconsole-ansi-background-color-yellow {
  background-color: yellow!important;
}
.jqconsole-ansi-background-color-blue {
  background-color: blue!important;
}
.jqconsole-ansi-background-color-magenta {
  background-color: magenta!important;
}
.jqconsole-ansi-background-color-cyan {
  background-color: cyan!important;
}
.jqconsole-ansi-background-color-white {
  background-color: white!important;
}

.jqconsole-ansi-framed {
  border: 1px solid!important;
}
.jqconsole-ansi-overline {
  text-decoration: overline!important;
}


