*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
  }

html, body {
  height:100%
}

section {
  height: auto;
}

body {
  background: #eaeaea;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color: #777;
  margin: 0;
  font-weight: 200;
}

section {
  background: #fff;
  width: 100%;
  min-height: 100%;
  padding: 15px;
  margin: 0;
  -webkit-box-shadow: rgba(0,0,0,.15) 0 15px 50px;
  box-shadow: rgba(0,0,0,.15) 0 15px 50px;
  position: relative;
}

.btn {
  width: 81px;
  height: 29px;
  position: absolute;
  top: 15px;
  padding: 5px;
  background: #eaeaea;
  color: #777;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
  text-shadow: rgba(255,255,2550.5) 0 1px 2px;
  text-decoration: none;
  outline: none;
  text-align: center;
}

.btn:hover {
  background: #f0f0f0;
}

.btn-hidden {
  background: #D3ACAC;
}
.btn-hidden:hover {
  background: #e7bdbd;
}

#htmlToggle {
  left: 15px;
}

#cssToggle {
  left: 100px;
}

#jsToggle {
  left: 185px;
}

#consoleToggle {
  left: 270px;
  width: 105px;
}

#run {
  right: 15px;
  width: 50px;
}

#run:after {
  content:' \25BA';
  position: relative;
  top: 1px;
  color: #BDB3B3;
}

#download {
  right: 70px;
}

#clear {
  right: 155px;
  width: 50px;
}

#previewToggle {
  width: 70px;
  right: 210px;
}

.window {
  width: 33%;
  height: 300px;
  margin: 15px 5px 0 0;
  float: left;
  border: 1px solid #cdcdcd;
  -webkit-box-shadow: inset rgba(0,0,0,.05) 0 3px 10px;
  box-shadow: inset rgba(0,0,0,.05) 0 3px 10px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
}

.window:hover {
  /*  border-color: #33dd33;*/
  border-color: #d3acac;
}

.windowGroup > div:last-child {
  margin-right: 0px;
}

pre {
  width: 100%;
  height: 100%;
  bottom: 12px;
}

.windowLabel {
  border: solid 1px #F1F1F1;
  background: #fff;
  display: inline-block;
  height: 25px;
  padding: 0 6px;
  line-height: 22px;
  position: absolute;
  top: 2px;
  right: 2px;
  text-align: center;
  font-size: 12px;
  color: #777;
  border-radius: 3px;
  z-index: 30;
  -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in;
  opacity: 0.8;
}

#html:hover ~ #htmlLabel {
  opacity: 0;
  z-index: -1;
}

#css:hover ~ #cssLabel {
  opacity: 0;
  z-index: -1;
}

#js:hover ~ #jsLabel {
  opacity: 0;
  z-index: -1;
}

.console {
  width: 100%;
  height: 100px;
  float: left;
  border: 1px solid #cdcdcd;
  -webkit-box-shadow: inset rgba(0,0,0,.05) 0 3px 10px;
  box-shadow: inset rgba(0,0,0,.05) 0 3px 10px;
  border-radius: 3px;
  margin: 5px 0 0 0;
  -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  display: none;
}

iframe {
  width: 100%;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  height: 600px;
  margin: 5px 0 0 0;
  top: 50%;
}

iframe.popped {
  border: 5px solid #c7c7c7;
  border-radius: 3px;
  z-index: 1000;
  position: fixed;
  -webkit-transition-property: top;
    -moz-transition-property: top;
      transition-property: top;
  -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
      transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
  width: 90%;
  height: 85%;
  top: 43px;
  left: 5%;
  opacity: 1;
  background: white;
  overflow: auto;
  resize: vertical;
}
